*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headtop{
    display: grid;
    grid-template-rows: 150px auto;
}

.formheader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.headerfunc{
  display: flex;
  justify-content: space-evenly;
  margin: 40 px 0px 0px 0px;
  padding: 30px 8%;
}

.col {
  width: 33.3%;
  background-color: chartreuse;
  margin: 40px;
}

.bot_in{
    font-size: 23px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
    margin-top: 5px;
    width:100%;
    padding: 10px;

}

.bot_in:focus{
    background-color: blue;
    color: red;
}

.formheader >form{
    width: 40%;
}

.bottomline{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.tag{
    font-size: 14px;
    font-weight: 100;
    background-color: aqua;
    padding: 10px;

}

.tag:hover{
    color: antiquewhite;
    background-color: black;
}

.tag:active{
    background-color: red;
    color: greenyellow;
}

.jobStatus{
    font-size: 16px;
    font-weight: 100;
    border: 1px solid black;
    width: 135px;
    height: 40px;
    padding: 5px;
    margin-top: 10px;

}



.submitdata{
    
    font-size: 14px;
    font-weight: 100;
    background-color: crimson;
    color: bisque;
    border-radius: 5px;
    height: 30px;
    padding: 7px 15px;
    margin:auto;
    cursor: pointer;
}

.submitdata:hover{
    background-color: bisque;
    color: crimson;
}

@media (max-width: 600px) {
  .formheader >form{
    width: 80%;
}
.bot_in{
    font-size: 18px;
}
}