.button-container{
    display: flex;
    flex-direction: row;
}

.tag{
    font-size: 14px;
    font-weight: 100;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
    color: darkolivegreen
}

.tag-selected{
    background-color: darkolivegreen;
    color: antiquewhite;
}

